* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle at bottom, #020111, #000);
    position: relative;
}

/* 🌙 Luna */
.moon {
    position: absolute;
    top: 50px;
    right: 80px;
    width: 100px;
    height: 100px;
    background: #f5f3ce;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255,255,200,0.8);
}

/* ⭐ Estrellas */
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

/* 💕 Corazones */
.heart {
    position: absolute;
    bottom: -20px;
    color: rgba(255,105,180,0.4);
    animation: floatUp 8s linear infinite;
}

@keyframes floatUp {
    from {
        transform: translateY(0);
        opacity: 0.7;
    }

    to {
        transform: translateY(-120vh);
        opacity: 0;
    }
}

/* 💌 Sobre */
.envelope {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 280px;
    background: #f7a1c4;
    border-radius: 10px;
    cursor: pointer;
    z-index: 5;
}

    .envelope::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;
        border-top: 90px solid #f48bb3;
        transform-origin: top;
        transition: transform 1s;
    }

    .envelope.open::before {
        transform: rotateX(180deg);
    }

/* 💌 Tarjetas */
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: justify;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.6s ease;
    z-index: 10;
}
    .card h2, h4, h5,h3, i {
        color: #e91e63;
        margin-bottom: 10px;
    }

    .card.show {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

.arrow {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #e91e63;
}

.buttons {
    margin-top: 15px;
}

button {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.yes {
    background: #e91e63;
    color: white;
}

.no {
    background: #ccc;
}

.response {
    margin-top: 15px;
    font-weight: bold;
    color: #e91e63;
}
